<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>松旦包装印刷有限公司</title>
    <link rel="stylesheet" th:href="@{/css/layui.css}">
    <style>
        .layui-table-cell, .layui-table-tool-panel li {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">松旦包装有限公司</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item">
                <a href="javascript:;">野马订单录入</a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/wildhorse/inputorder}">野马订单添加</a></dd>
                    <dd><a th:href="@{/wildhorse/changeorder}">野马订单修改</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">双鹿订单录入</a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/doubledear/slinput}">双鹿订单添加</a></dd>
                    <dd><a href="">双鹿订单修改</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">订单打印</a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/wildhorse/printorder}">野马订单打印</a></dd>
                    <dd><a th:href="@{/doubledear/slprint}">双鹿订单打印</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img th:src="@{/images/navimg/doubledear.jpeg}" class="layui-nav-img">
                    双鹿订单
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">厂长</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a th:href="@{/login}">退出</a></li>
        </ul>
    </div>

    <div class="layui-body" style="left:5px;">
        <!-- 内容主体区域 -->
        <div class="layui-row" style="padding: 20px; background-color: #F2F2F2;">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">双鹿采购订单搜索</div>
                    <div class="layui-card-body">
                        <form class="layui-form layui-form-pane" action="">
                            <div class="layui-row layui-col-space15">
                                <div class="layui-col-md3">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">作业单号</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="serial" placeholder="请输入作业单号" autocomplete="off" class="layui-input" id="ordernum">
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-col-md3">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">作业单行号</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="line" placeholder="请输入作业单行号" autocomplete="off" class="layui-input" id="line">
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-col-md6">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">物料名称</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="name" placeholder="请输入物料名称" autocomplete="off" class="layui-input" id="productname">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-row layui-col-space15">
                                <div class="layui-col-md3">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">录入日期</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="indate" id="indate" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-col-md3">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">交货日期</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="date" id="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-col-md3">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">内径</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="neijing" placeholder="请输入内径" autocomplete="off" class="layui-input" id="neijing">
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-col-md3">
                                    <div class="layui-form-item">
                                        <div class="layui-input-block">
                                            <button type="button" class="layui-btn" lay-filter="demo1" id="searchbtn">搜索</button>
                                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12">
                <table class="layui-hide" id="orders" lay-filter="test"></table>
                <script type="text/html" id="toolbarDemo">
                    <div class="layui-btn-container">
                        <button class="layui-btn layui-btn-sm" lay-event="printData">自选列打印</button>
                        <button class="layui-btn layui-btn-sm" lay-event="printPurchaseData">打印采购订单</button>
                        <button class="layui-btn layui-btn-sm" lay-event="printWalengOrders">打印瓦楞纸采购单</button>
                        <!--                        <button class="layui-btn layui-btn-sm" lay-event="exportPurchaseData">导出采购订单EXCEL</button>-->
                        <!--                        <button class="layui-btn layui-btn-sm" lay-event="exportProduceData">导出生产通知单EXCEL</button>-->
                        <button class="layui-btn layui-btn-sm" lay-event="completeCheckData">完成选中订单</button>
                    </div>
                </script>
            </div>
        </div>
    </div>

    <div class="layui-footer" style="left:5px;">
        <!-- 底部固定区域 -->
        © Songdan.com - 底部固定区域
    </div>
</div>
<script th:src="@{/layui.js}"></script>
<script th:src="@{/js/jquery-3.5.1.js}"></script>
<script th:src="@{/layui_exts/excel.js}"></script>
<script>
    //JavaScript代码区域
    layui.config({
        base: 'static/layui_exts/', // 配置一个可访问地址
    }).extend({
        excel: 'excel',
    });
    layui.use('element', function(){
        var element = layui.element;

    });

    layui.use(['form','laydate'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,laydate = layui.laydate;

        //日期
        laydate.render({
            elem: '#date'
            ,format: 'yyyy-MM-dd'
        });
        laydate.render({
            elem: '#indate'
            ,format: 'yyyy-MM-dd'
        });
    });

    layui.use(['table','excel'], function(){
        var table = layui.table;

        table.render({
            elem: '#orders'
            ,url:'getAllOrders'
            ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            ,defaultToolbar: ['filter',  { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                ,layEvent: 'LAYTABLE_TIPS'
                ,icon: 'layui-icon-tips'
            }]
            ,title: '双鹿订单'
            ,parseData:function (res){
                //console.log(res);
                return {
                    "code":0,
                    "msg":"",
                    "count":res.length,
                    data:res
                }
            }
            ,cols: [
                [
                    {type:'checkbox', fixed: 'left'}
                    ,{field:'id', width:65, title: '序号', sort: true}
                    ,{field:'ordernum', width:100, title: '作业单号'}
                    ,{field:'line', width:100, title: '行号'}
                    ,{field:'orderline', width:100, title: '作业单号/行号'}
                    ,{field:'productid', width:200, title: '物料代码'}
                    ,{field:'productname', width:200, title: '物料名称', sort: true}
                    ,{field:'neijing', width:170, title: '内径', sort: true}
                    ,{field:'waijing', width:170, title: '外径'}
                    ,{field:'banpian', width:170, title: '板片'}
                    ,{field:'yaxian', width:170, title: '压线'}
                    ,{field:'num', width:80, title: '数量', sort: true}
                    ,{field:'unit', width:50, title: '单位'}
                    ,{field:'inputdate', width:120, title: '录入日期', sort: true}
                    ,{field:'outputdate', width:120, title: '交货日期', sort: true}
                    ,{field:'press', width:100, title: '变压'}
                    ,{field:'backup', width:500, title: '备注'}
                ]
            ]
            ,id: 'testReload'
        });


        //单独设置导出按钮
        table.on('toolbar(test)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'printData': //打印自选列
                    //选中数据
                    var datas = checkStatus.data;
                    var style = [
                        '<style>', 'body{font-size: 12px; color: #666;}',
                        'table{width: 100%; border-collapse: collapse; border-spacing: 0;}',
                        'th,td{line-height: 20px; padding: 9px 15px; border: 1px solid #ccc; text-align: left; font-size: 12px; color: #666;}', '</style>'
                    ].join('');
                    if (datas.length > 0) {
                        //获取列名和列值
                        var cols = obj.config.cols[0];
                        var tableHtml = '<table><tr>';
                        for (var j = 0; j < cols.length; j++) {
                            if (!cols[j].hide && cols[j].type !== "checkbox") {
                                tableHtml += '<td>' + cols[j].title+'</td>';
                            }
                        }
                        tableHtml += '</tr>';
                        for (var l = 0; l < datas.length; l++) {
                            tableHtml += '<tr>';
                            for (var m = 0; m < cols.length; m++) {
                                if (!cols[m].hide && cols[m].type !== "checkbox" && cols[m].type !=="cols[m].type !==") {
                                    tableHtml += '<td>' + datas[l][cols[m].field] + '</td>';
                                }
                            }
                            tableHtml += '</tr>';
                        }
                        tableHtml += '</table>';
                        //创建一个打印窗口
                        var printWindow = window.open("打印窗口", "_blank");
                        //将明细页面拷贝到新的窗口，这样新的窗口就有了明细页面的样式
                        var htmlbox = '<html><head>' + style+'</head><body></body></html>';
                        printWindow.document.write(htmlbox);
                        //获得要打印的内容
                        var printbox = tableHtml;
                        //将要打印的内容替换到新窗口的body中
                        printWindow.document.body.innerHTML = printbox;
                        //脚本向窗口(不管是本窗口或其他窗口)写完内容后，必须关闭输出流。在延时脚本的最后一个document.write()方法后面，必须确保含有document.close()方法，不这样做就不能显示图像和表单。
                        //并且，任何后面调用的document.write()方法只会把内容追加到页面后，而不会清除现有内容来写入新值。
                        printWindow.document.close();
                        //打印
                        //chrome浏览器使用jqprint插件打印时偶尔空白页问题
                        //解决方案：有时候页面总是加载不出来，打印出现空白页，可以设置延迟时间来等待页面的渲染，但是渲染时间的长短跟页面的大小有关，是不固定的。所以这里使用事件监听器。
                        printWindow.addEventListener('load', function () {
                            printWindow.print();
                            //关闭窗口
                            printWindow.close();
                        });
                    } else {
                        alert('请先选中要打印的数据！');
                    }
                    break;
                case 'printPurchaseData': //打印采购订单
                    //获取选中的行
                    var datas = checkStatus.data;
                    var frame = document.createElement("IFRAME");
                    //console.log(datas);
                    if (datas.length>0) {
                        //导出选中行
                        var nums = "";
                        for(var i=0;i<checkStatus.data.length;i++){
                            nums += checkStatus.data[i].id+",";
                        }
                        parent.layer.msg('打印中...', {icon: 16,shade: 0.3,time:5000});

                        frame.style.display ="none";
                        frame.src = "printPurchaseOrders?nums="+nums;//controller层的url
                        document.body.appendChild(frame);
                        frame.contentWindow.focus();
                        frame.contentWindow.print();
                    } else {
                        layer.alert('请先选择需要导出数据。');
                    }
                    break;
                case 'printWalengOrders'://打印瓦楞纸采购订单
                    //获取选中的行
                    var datas = checkStatus.data;
                    var frame = document.createElement("IFRAME");
                    // console.log(datas);
                    if (datas.length>0) {
                        //导出选中行
                        var nums = "";
                        for(var i=0;i<checkStatus.data.length;i++){
                            nums += checkStatus.data[i].id+",";
                        }
                        parent.layer.msg('打印中...', {icon: 16,shade: 0.3,time:5000});

                        frame.style.display ="none";
                        frame.src = "printWalengOrders?nums="+nums;//controller层的url
                        document.body.appendChild(frame);
                        frame.contentWindow.focus();
                        frame.contentWindow.print();
                    } else {
                        layer.alert('请先选择需要导出数据。');
                    }
                    break;
                case 'completeCheckData': //完成选中数据
                    //获取选中的行
                    var datas = checkStatus.data;
                    if (datas.length>0) {
                        //完成选中行
                        var idJSON = [];
                        var idItem = {};
                        for(var i=0;i<datas.length;i++){
                            //idItem.waterid = datas[i].waterid;
                            idJSON.push(datas[i].id);
                            //idItem={};
                        }
                        layer.confirm('确定完成吗？',function (index){
                            $.ajax({
                                type: 'post',
                                url: 'completeSLOrders',
                                data: JSON.stringify(idJSON),
                                contentType : "application/json",
                                success:function (res){
                                    window.location.reload();
                                },
                                error:function(XMLHttpRequest, textStatus, errorThrown) {
                                    alert(XMLHttpRequest.status);
                                    alert(XMLHttpRequest.readyState);
                                    alert(textStatus);
                                }
                            })

                            layer.close(index);
                        })
                    } else {
                        layer.alert('请先选择完成的数据。');
                    }
                    break;
                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':
                    layer.alert('完成打印导出工作后记得点击完成选中订单！');
                    break;
            }
        });

        $('#searchbtn').on('click',function (){
            var line = $('#line').val();
            var ordernum = $('#ordernum').val();
            var productname = $('#productname').val();
            var inputdate = $('#indate').val();
            var outputdate = $('#date').val();
            var neijing = $('#neijing').val();
            table.reload('testReload',{
                url:"getSearchOrders"
                ,method:'post'
                ,where: {
                    'line':line,
                    'serial':ordernum,
                    'name':productname,
                    'inputdate':inputdate,
                    'date':outputdate,
                    'neijing':neijing,
                }
                ,done: function () {
                    this.where={};
                }
            });
        });
    });
</script>
</body>


</html>
