<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>松旦包装印刷有限公司</title>
    <link th:href="@{/css/layui.css}" rel="stylesheet" >
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">松旦包装有限公司</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item">
                <a href="javascript:;">野马订单录入</a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/wildhorse/inputorder}">野马订单添加</a></dd>
                    <dd><a th:href="@{/wildhorse/changeorder}">野马订单修改</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">双鹿订单录入</a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/doubledear/slinput}">双鹿订单添加</a></dd>
                    <dd><a href="">双鹿订单修改</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">订单打印</a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/wildhorse/printorder}">野马订单打印</a></dd>
                    <dd><a th:href="@{/doubledear/slprint}">双鹿订单打印</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img th:src="@{/images/navimg/wildhorse.jpg}" class="layui-nav-img">
                    野马订单
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">厂长</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退出</a></li>
        </ul>
    </div>

    <div class="layui-body" style="left:5px;">
        <!-- 内容主体区域 -->
        <div class="layui-row" style="padding: 20px; background-color: #F2F2F2;">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">野马采购订单输入</div>
                    <div class="layui-card-body">
                        <form class="layui-form layui-form-pane" action="">
                            <div class="layui-row layui-col-space15">
                                <div class="layui-col-md6">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">流水号</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="id" required  lay-verify="required" placeholder="请输入流水号" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-col-md6">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">作业单号</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="serial" required  lay-verify="required" placeholder="请输入作业单号" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-row layui-col-space15">
                                <div class="layui-col-md6">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">物料代码</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="code" required  lay-verify="required" placeholder="请输入物料代码" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-col-md6">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">物料名称</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="name" required  lay-verify="required" placeholder="请输入物料名称" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-row layui-col-space15">
                                <div class="layui-col-md6">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">物料别名</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="name2" placeholder="请输入别名" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-col-md6">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">隔层板</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="gecengban" placeholder="请输入隔层板信息" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-row layui-col-space15">
                                <div class="layui-col-md5">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">内径</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="neijing" required  lay-verify="required" placeholder="请输入图纸内径" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-col-md5">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">计算方法</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="calculate" required  lay-verify="required" placeholder="default" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-col-md2">
                                    <button type="button" class="layui-btn layui-btn-primary" id="research">查询图纸</button>
                                </div>
                            </div>
                            <div class="layui-row layui-col-space15">
                                <div class="layui-col-md3">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">数量</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="number" required  lay-verify="required" placeholder="请输入数量" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-col-md2">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">单位</label>
                                        <div class="layui-input-block">
                                            <select name="unit" lay-verify="required">
                                                <option value=""></option>
                                                <option value="0">只</option>
                                                <option value="1">张</option>
                                                <option value="2">套</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-col-md4">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">交货日期</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="date" id="date" lay-verify="date" placeholder="yyyy/MM/dd" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-col-md3">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">含税单价</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="price" required  lay-verify="required" placeholder="请输入含税单价" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-row layui-col-space15">
                                <div class="layui-col-md12">
                                    <div class="layui-form-item layui-form-text">
                                        <label class="layui-form-label">生产要求及唛头</label>
                                        <div class="layui-input-block">
                                            <textarea name="desc" placeholder="请输入生产要求及唛头" class="layui-textarea"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-row layui-col-space15">
                                <div class="layui-col-md12">
                                    <div class="layui-form-item">
                                        <div class="layui-input-block">
                                            <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-row" style="padding: 20px; background-color: #F2F2F2;">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">Excel批量导入订单,格式为浙江野马网站。ps:请先下载模板。Excel需按照格式排版，否则会报错。</div>
                    <div class="layui-card-body">
                        <div class="layui-row layui-col-space15">
                            <div class="layui-col-md12">
                                <div class="layui-form-label">导出模板</div>
                                <div class="layui-form-block">
                                    <a class="layui-btn layui-btn-primary" th:href="@{/demo/web_excel.xlsx}" id="template1">Excel模板格式</a>
                                </div>
                            </div>
                        </div>
                        <div class="layui-row layui-col-space15">
                            <div class="layui-col-md12">
                                <div class="layui-form-label">导入操作</div>
                                <div class="layui-form-block">
                                    <input type="file" class="layui-btn layui-btn-primary" id="LAY-excel-import-excel" multiple="multiple">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-row" style="padding: 20px; background-color: #F2F2F2;">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">Excel批量导入订单,格式为宁波野马网站。ps:请先下载模板。Excel需按照格式排版，否则会报错。</div>
                    <div class="layui-card-body">
                        <div class="layui-row layui-col-space15">
                            <div class="layui-col-md12">
                                <div class="layui-form-label">导出模板</div>
                                <div class="layui-form-block">
                                    <a class="layui-btn layui-btn-primary" th:href="@{/demo/nbweb_excel.xlsx}" id="template2">Excel模板格式</a>
                                </div>
                            </div>
                        </div>
                        <div class="layui-row layui-col-space15">
                            <div class="layui-col-md12">
                                <div class="layui-form-label">导入操作</div>
                                <div class="layui-form-block">
                                    <input type="file" class="layui-btn layui-btn-primary" id="LAY-excel-import-excel3" multiple="multiple">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-row" style="padding: 20px; background-color: #F2F2F2;">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">Excel批量导入订单,格式为邮箱采购订单。ps:请先下载模板。Excel需按照格式排版，否则会报错。</div>
                    <div class="layui-card-body">
                        <div class="layui-row layui-col-space15">
                            <div class="layui-col-md12">
                                <div class="layui-form-label">导出模板</div>
                                <div class="layui-form-block">
                                    <a class="layui-btn layui-btn-primary" th:href="@{/demo/mail_excel.xlsx}" id="template3">Excel模板格式</a>
                                </div>
                            </div>
                        </div>
                        <div class="layui-row layui-col-space15">
                            <div class="layui-col-md12">
                                <div class="layui-form-label">导入操作</div>
                                <div class="layui-form-block">
                                    <input type="file" class="layui-btn layui-btn-primary" id="LAY-excel-import-excel2" multiple="multiple">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-row" style="padding: 20px; background-color: #F2F2F2;">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">已输入采购订单</div>
                    <div class="layui-card-body">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-footer" style="left:5px;">
        <!-- 底部固定区域 -->
        © Songdan.com - 底部固定区域
    </div>
</div>
<script th:src="@{/layui.js}"></script>
<script th:src="@{/js/jquery-3.5.1.min.js}"></script>
<script th:src="@{/layui_exts/excel.js}"></script>
<script>
    //JavaScript代码区域
    layui.config({
        base: 'static/layui_exts/', // 配置一个可访问地址
    }).extend({
        excel: 'excel',
    });
    layui.use('element', function(){
        var element = layui.element;

    });

    layui.use(['form','laydate'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,laydate = layui.laydate;

        //日期
        laydate.render({
            elem: '#date'
            ,format: 'yyyy/MM/dd'
        });

        //监听提交
        form.on('submit(demo1)', function(data){
            layer.msg(JSON.stringify(data.field));
            var url = "saveOrderInfo";
            $.ajax({
                url:url,
                type:"POST",
                dateType:"json",
                data:data.field,
                success:function (Message){
                    if(Message.result == "pass"){
                        layer.msg("保存成功");
                    }else{
                        layer.msg(Message.result);
                    }
                },
                error:function(XMLHttpRequest, textStatus, errorThrown) {
                    alert('无法上传，请联系管理员!!!');
                }
            })

            return false;
        });
    });

    $(function(){
        // 监听上传文件的事件
        $('#LAY-excel-import-excel').change(function(e) {
            var files = e.target.files;
            var excel = layui.excel;
            try {
                // 可以在读取过程中梳理数据
                excel.importExcel(files, {
                    fields: {
                        'waterid': 'B'
                        ,'ordernum': 'J'
                        ,'productid': 'D'
                        ,'productname': 'E'
                        ,'productname2': 'O'
                        ,'unit': 'H'
                        ,'num': 'G'
                        ,'outputdate': 'I'
                        ,'demand': 'L'
                        ,'price':'M'
                        ,'neijing':'P'
                        ,'calculate':'Q'
                        ,'gecengban':'R'
                    }
                }, function(data) {
                    console.log(data);
                    var arr = new Array();
                    for(i = 1; i < data[0].Sheet1.length; i++){
                        var tt = {
                            waterid : data[0].Sheet1[i].waterid,
                            ordernum : data[0].Sheet1[i].ordernum,
                            productid: data[0].Sheet1[i].productid,
                            productname: data[0].Sheet1[i].productname,
                            productname2: data[0].Sheet1[i].productname2,
                            unit: data[0].Sheet1[i].unit,
                            num: data[0].Sheet1[i].num,
                            outputdate: excel.dateCodeFormat(data[0].Sheet1[i].outputdate,'YYYY/MM/DD'),
                            demand: data[0].Sheet1[i].demand,
                            price: data[0].Sheet1[i].price,
                            neijing: data[0].Sheet1[i].neijing,
                            calculate: data[0].Sheet1[i].calculate,
                            gecengban: data[0].Sheet1[i].gecengban,
                        };
                        arr.push(tt);
                    }

                    $.ajax({
                        type: 'post',
                        dataType: "json",
                        url: 'importYMOrders',
                        data: JSON.stringify(arr),
                        contentType : "application/json",
                        success: function (res) {
                            if(res.success == "true"){
                                layer.msg(res.message);
                            }else{
                                //表格导入失败后，重载文件上传
                                layer.alert(res.error+"请重新上传",{icon : 2});
                            }
                        },
                        error:function(XMLHttpRequest, textStatus, errorThrown) {
                            alert('无法上传，请联系管理员!!!');
                        }
                    })

                });
            } catch (e) {
                layer.alert(e.message);
            }
        });

        $('#LAY-excel-import-excel3').change(function(e) {
            var files = e.target.files;
            var excel = layui.excel;
            try {
                // 可以在读取过程中梳理数据
                excel.importExcel(files, {
                    fields: {
                        'waterid': 'B'
                        ,'ordernum': 'J'
                        ,'productid': 'D'
                        ,'productname': 'E'
                        ,'productname2': 'L'
                        ,'unit': 'H'
                        ,'num': 'G'
                        ,'outputdate': 'O'
                        ,'demand': 'I'
                        ,'price':'M'
                        ,'neijing':'P'
                        ,'calculate':'Q'
                        ,'gecengban':'R'
                    }
                }, function(data) {
                    console.log(data);
                    var arr = new Array();
                    for(i = 1; i < data[0].Sheet1.length; i++){
                        var tt = {
                            waterid : data[0].Sheet1[i].waterid,
                            ordernum : data[0].Sheet1[i].ordernum,
                            productid: data[0].Sheet1[i].productid,
                            productname: data[0].Sheet1[i].productname,
                            productname2: data[0].Sheet1[i].productname2,
                            unit: data[0].Sheet1[i].unit,
                            num: data[0].Sheet1[i].num,
                            outputdate: excel.dateCodeFormat(data[0].Sheet1[i].outputdate,'YYYY/MM/DD'),
                            demand: data[0].Sheet1[i].demand,
                            price: data[0].Sheet1[i].price,
                            neijing: data[0].Sheet1[i].neijing,
                            calculate: data[0].Sheet1[i].calculate,
                            gecengban: data[0].Sheet1[i].gecengban,
                        };
                        arr.push(tt);
                    }

                    $.ajax({
                        type: 'post',
                        dataType: "json",
                        url: 'importYMOrders',
                        data: JSON.stringify(arr),
                        contentType : "application/json",
                        success: function (res) {
                            if(res.success == "true"){
                                layer.msg(res.message);
                            }else{
                                //表格导入失败后，重载文件上传
                                layer.alert(res.error+"请重新上传",{icon : 2});
                            }
                        },
                        error:function(XMLHttpRequest, textStatus, errorThrown) {
                            alert('无法上传，请联系管理员!!!');
                        }
                    })

                });
            } catch (e) {
                layer.alert(e.message);
            }
        });

        $('#LAY-excel-import-excel2').change(function(e) {
            var files = e.target.files;
            var excel = layui.excel;
            try {
                // 可以在读取过程中梳理数据
                excel.importExcel(files, {
                    fields: {
                        'waterid': 'B'
                        ,'ordernum': 'C'
                        ,'productid': 'D'
                        ,'productname': 'E'
                        ,'productname2': 'F'
                        ,'unit': 'G'
                        ,'num': 'H'
                        ,'outputdate': 'I'
                        ,'demand': 'J'
                        ,'price':'K'
                        ,'neijing':'L'
                        ,'calculate':'M'
                        ,'gecengban':'N'
                    }
                }, function(data) {
                    console.log(data);
                    var arr = new Array();
                    for(i = 1; i < data[0].Sheet1.length; i++){
                        var tt = {
                            waterid : data[0].Sheet1[i].waterid,
                            ordernum : data[0].Sheet1[i].ordernum,
                            productid: data[0].Sheet1[i].productid,
                            productname: data[0].Sheet1[i].productname,
                            productname2: data[0].Sheet1[i].productname2,
                            unit: data[0].Sheet1[i].unit,
                            num: data[0].Sheet1[i].num,
                            outputdate: excel.dateCodeFormat(data[0].Sheet1[i].outputdate,'YYYY/MM/DD'),
                            demand: data[0].Sheet1[i].demand,
                            price: data[0].Sheet1[i].price,
                            neijing: data[0].Sheet1[i].neijing,
                            calculate: data[0].Sheet1[i].calculate,
                            gecengban: data[0].Sheet1[i].gecengban,
                        };
                        arr.push(tt);
                    }

                    $.ajax({
                        type: 'post',
                        dataType: "json",
                        url: 'importYMOrders',
                        data: JSON.stringify(arr),
                        contentType : "application/json",
                        success: function (res) {
                            if(res.success == "true"){
                                layer.msg(res.message);
                            }else{
                                //表格导入失败后，重载文件上传
                                layer.alert(res.error+"请重新上传",{icon : 2});
                            }
                        },
                        error:function(XMLHttpRequest, textStatus, errorThrown) {
                            alert('无法上传，请联系管理员!!!');
                        }
                    })

                });
            } catch (e) {
                layer.alert(e.message);
            }
        });
    });
</script>
</body>

</html>
