<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>松旦包装印刷有限公司</title>
    <link rel="stylesheet" th:href="@{/css/layui.css}">
    <style>
        .layui-table-cell, .layui-table-tool-panel li {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">松旦包装有限公司</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a th:href="@{/wildhorse/printinspect}">野马单据</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">图纸信息</a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/wildhorse/whpaper}">野马图纸</a></dd>
                    <dd><a th:href="@{/doubledear/slpaper}">双鹿图纸</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img th:src="@{/images/navimg/wildhorse.jpg}" class="layui-nav-img">
                    野马订单
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">检验员</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a th:href="@{/login}">退出</a></li>
        </ul>
    </div>

    <div class="layui-body" style="left:5px;">
        <!-- 内容主体区域 -->
        <div class="layui-row" style="padding: 20px; background-color: #F2F2F2;">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header" style="text-align: center;">野马图纸信息调整</div>
                    <div class="layui-card-body">
                        <form class="layui-form layui-form-pane" action="" lay-filter="example">
                            <div class="layui-row layui-col-space15">
                                <div class="layui-col-md6">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">物料编号</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="productid" required  lay-verify="required" placeholder="请输入物料编号" autocomplete="off" class="layui-input" id="productid">
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-col-md6">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">物料名字</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="productname" required lay-verify="required" placeholder="请输入物料名字" autocomplete="off" class="layui-input" id="productname">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-row layui-col-space15">
                                <div class="layui-col-md6">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">物料别名</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="productname2" placeholder="请输入别名" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-col-md3">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">隔层板</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="gecengban" placeholder="请输入隔层板信息" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-col-md3">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">计算方法</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="calculate" placeholder="default" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-row layui-col-space15">
                                <div class="layui-col-md3">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">内径</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="neijing" id="neijing" required  lay-verify="required" placeholder="请输入图纸内径" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-col-md3">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">外径</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="waijing" id="waijing" placeholder="请输入图纸内径" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-col-md3">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">压线</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="yaxian" id="yaxian" placeholder="请输入图纸内径" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-col-md3">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">板片</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="banpian" id="banpian" placeholder="请输入图纸内径" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-row layui-col-space15">
                                <div class="layui-col-md8">
                                    <div class="layui-form-item">
                                        <div class="layui-input-block">
                                            <button type="submit" class="layui-btn layui-btn-normal" lay-submit="" lay-filter="add" id="add">添加图纸</button>
                                            <button type="button" class="layui-btn layui-btn-normal" id="search">查询图纸</button>
                                            <button type="submit" class="layui-btn layui-btn-normal" lay-submit="" lay-filter="change" id="change">修改图纸</button>
                                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                            <button type="button" class="layui-btn layui-btn-primary" id="cal_default" onclick="cal_neijing()">默认方式计算外径压线板片</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="layui-footer" style="left:5px;">
        <!-- 底部固定区域 -->
        © Songdan.com - 底部固定区域
    </div>
</div>
<script th:src="@{/layui.js}"></script>
<script th:src="@{/js/jquery-3.5.1.js}"></script>
<script th:src="@{/layui_exts/excel.js}"></script>
<script>
    //JavaScript代码区域
    layui.config({
        base: 'static/layui_exts/', // 配置一个可访问地址
    }).extend({
        excel: 'excel',
    });
    layui.use('element', function(){
        var element = layui.element;

    });

    layui.use(['form','laydate'], function(){
        var form = layui.form
            ,layer = layui.layer;

        //监听提交
        form.on('submit(add)', function(data){
            //layer.msg(JSON.stringify(data.field));
            $.ajax({
                url:"addYM",
                type:"POST",
                dateType:"json",
                data:data.field,
                success:function (Message){
                    if(Message.result === "pass"){
                        layer.msg("保存成功");
                    }else{
                        layer.msg(Message.result);
                    }
                },
                error:function(XMLHttpRequest, textStatus, errorThrown) {
                    alert('无法上传，请联系管理员!!!');
                }
            })
            return false;
        });

        form.on('submit(change)', function(data){
            //layer.msg(JSON.stringify(data.field));
            $.ajax({
                url:"updateYM",
                type:"POST",
                dateType:"json",
                data:data.field,
                success:function (Message){
                    if(Message.result === "pass"){
                        layer.msg("修改成功");
                    }else{
                        layer.msg(Message.result);
                    }
                },
                error:function(XMLHttpRequest, textStatus, errorThrown) {
                    alert('无法上传，请联系管理员!!!');
                }
            })
            return false;
        });

        layui.$('#search').on('click', function(){
            var productid = $('#productid').val();
            var productname = $('#productname').val();
            $.ajax({
                url:"searchYM",
                type:"POST",
                dateType:"json",
                data: {"id":productid,"name":productname},
                async:false,
                success:function (message){
                    if(message.result == "pass"){
                        form.val('example',{
                            "productid":message.productid
                            ,"productname":message.productname
                            ,"productname2":message.productname2
                            ,"neijing":message.neijing
                            ,"waijing":message.waijing
                            ,"banpian":message.banpian
                            ,"yaxian":message.yaxian
                            ,"gecengban":message.gecengban
                            ,"calculate":message.type
                        });
                        layer.msg("搜索完成。");
                    }else{
                        layer.msg(message.result);
                    }

                },error(){
                    alert('无法搜索，请联系管理员!!!');
                }
            })

        });

    });

    function cal_neijing(){
        var NJ = document.getElementById("neijing").value;
        var WJ = $("#waijing")
        var BP = $("#banpian")
        var YX = $("#yaxian")
        var temp = NJ.split("*");
        if(temp.length != 3){
            alert("内径输入有误！")
            return;
        }
        var WJlength = Math.round(parseFloat(temp[0])*10+10)/10;
        var WJwidth = Math.round(parseFloat(temp[1])*10+6)/10;
        var WJheight = Math.round(parseFloat(temp[2])*10 + 12)/10;

        //banpian
        var BPl = Math.round((WJlength*10 + WJwidth*10)*2+45)/10;
        var BPw = Math.round(WJwidth*10 + WJheight*10)/10;
        var BPtemp = WJwidth*10;
        if(BPtemp%2 !=0){
            BPw = Math.round(BPw*10+1)/10;//奇数
        }else{
            BPw = Math.round(BPw*10+2)/10;//偶数
        }
        BPl.toFixed(1);
        BPw.toFixed(1);

        //yaxian
        var YXl = WJwidth;
        var YXtemp = WJwidth*10;
        if(YXtemp %2 != 0 ){
            YXl = Math.round(YXl*10+1)/10;//奇数
        }else{
            YXl = Math.round(YXl*10+2)/10;//偶数
        }
        YXl /= 2;
        YXl.toFixed(1);

        WJlength.toFixed(1);
        WJwidth.toFixed(1);
        WJheight.toFixed(1);
        WJ.val(WJlength+"*"+WJwidth+"*"+WJheight);
        BP.val(BPl+"*"+BPw);
        YX.val(YXl+"+"+WJheight+"+"+YXl);
    }

</script>
</body>


</html>
